.catalogTitle {
    font-size: 2.5vw;
    font-weight: 800;
    color: #414141;

    margin-top: 5.555vw;
    margin-bottom: 3.333vw;
}

/* Catalog Grid */

.catalogGrid {
    display: flex;
    flex-direction: column;
    max-width: 67.36vw;
}

.catalogItem0 { grid-area: first; }
.catalogItem1 { grid-area: first-up; }
.catalogItem2 { grid-area: second-up; }
.catalogItem3 { grid-area: third-up; }
.catalogItem4 { grid-area: first-down; }
.catalogItem5 { grid-area: second-down; }
.catalogItem6 { grid-area: third-down }

.catalogContainer {
    height: 25.97vw;
    display: grid;
    grid-row-gap: 1.527vw;
    grid-column-gap: 2.083vw;
    grid-template-columns: 17fr 17fr 10fr 17fr 27fr;
    grid-template:  'first first-up first-up second-up third-up'
                    'first first-down second-down second-down third-down';
}

/* Catalog Items */

.catalogItem {
    height: 12.22vw;
    position: relative;

    overflow: hidden;
    border-radius: 2.083vw;
}

.catalogItem:first-child,
.catalogItem:first-child img{
    height: 25.97vw;
}

.catalogImg {
    height: 12.22vw;
    transition: transform 0.4s linear;
}

/*.catalogImg:first-child {*/
/*    height: 25.97vw;*/
/*}*/

.catalogImg:hover {
    transform: scale(1.3);
}

.catalogItemText {
    position: absolute;
    text-align: center;
    color: white;

    width: 100%;
    font-size: 1.666vw;
    line-height: 2.013vw;

    left: 50%;
    bottom: 0.6944vw;
    transform: translateX(-50%)
}