.footer {
    background-image:   url("../../assets/footer/footerBackground.png"),
                        url("../../assets/header/Logo.svg");
    background-position: top center, 17.36vw 3.263vw;
    background-size: 100% calc(100% + (((100vw - 744px) * 0.04597) * 1)), 4.791vw 2.5vw;
    background-repeat: no-repeat;
    height: 25.69vw;
    margin-top: 60px;
}

.footerContent {
    display: flex;
    flex-direction: column;
    max-width: 53.54vw;
    top: 6.527vw;
    left: 30.20vw;

    position: relative;
}

.footerGeneralContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footerTitle {
    font-size: 1.111vw;
    line-height: 1.319vw;
    color: #FFFFFF;

    white-space: nowrap;
    cursor: default;

    &#footerSubscribe {
        margin-top: 2.5vw;
    }
}

.footerText {
    font-size: 0.7638vw;
    font-weight: 400;
    line-height: 0.9127vw;
    color: #FFFFFF;

    margin-top: 0.9722vw;
    text-decoration: none;
}

/* Footer Nav */

.footerNav {
    display: flex;
    flex-direction: column;
}

/* Footer Contacts */

.footerContacts {
    display: grid;
    row-gap: 2.847vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'first second'
                         'third third';
}

.footerContactsNumbers {
    display: flex;
    flex-direction: column;
    grid-area: first;

    width: 100%;
}

.footerContactsAddresses {
    display: flex;
    flex-direction: column;
    grid-area: second;
}

.footerContactsSearch {
    grid-area: third;
    max-width: 20.13vw;
}

/* Footer Socials */

.footerSocials {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footerSocial {
    display: flex;
    justify-content: space-between;
    margin-top: 1.041vw;
}

.footerSocialItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.777vw;
    height: 2.777vw;

}

.footerSocialImg {
    height: 1.666vw;
}

.footerSocialsSearch {
    margin-top: 1.041vw;
    max-width: 13.68vw;
}

/* Footer Copyright */

.footerCopyright {
    font-size: 0.763vw;
    font-weight: 400;
    line-height: 0.902vw;
    color: #FFFFFF;
    text-align: right;

    margin-top: 3.958vw;
    text-decoration: none;
}